* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  margin-top: 20%;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 211, 153);
  font-size: larger;
  font-weight: 800;
  margin: 10px;
}
p {
  position: relative;
  top: 350px;
  margin: 30px;
}
button:hover {
  background-color: chocolate;
  color: aliceblue;
}

.app {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

input {
  margin: 10px;
}
.form {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 300px;
  padding-bottom: 200px;

  text-align: center;
  border: 1px solid black;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 75%;
  border-width: 3px;
  border-color: rgb(172, 255, 105);
  border-style: solid;
  margin-top: 40px;
  margin-left: 50px;
}

.resetP {
  cursor: pointer;
}

.resetP:hover {
  cursor: pointer;
  color: blue;
}

.header {
  background-color: rgb(33, 1, 45);
  color: rgb(218, 177, 255);
  padding: 30px;
}
.nav {
  background-color: rgb(0, 12, 55);
  border-bottom: 1px solid rgb(34, 0, 255);
  text-align: center;

  padding: 30px;
}

.footer {
  background-color: rgb(0, 12, 55);
  border-bottom: 1px solid rgb(34, 0, 255);
  text-align: center;

  padding: 30px;
}
.items {
  margin: 10px;
  color: aqua;
  text-decoration: none;
  cursor: pointer;
}
.items:hover {
  color: rgb(0, 112, 112);
}
.container {
  text-align: center;
  border: 1px solid black;
  margin: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 200px;
}
.createPost {
  /* position: relative ;
  left: 100px;
  ba
 */
  background-color: rgb(255, 255, 255);
  margin: 100px 100px 800px 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding-top: 30px;
  width: 400px;
  height: 350px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 20px;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}
.blog {
  background-color: rgb(255, 236, 203);
  padding: 10px;
}
.h1 {
  padding-top: 30px;
  padding-bottom: -5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 3px solid black;
  background-color: rgb(241, 0, 221);
  width: 400px;
  height: 50px;
  position: relative;
  top: -30px;
}
textarea {
  padding: 20px;
}
